
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">Datos de Contacto</h4>
                    <!-- <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p> -->
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+562 2364 4291</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>sales@panamericanshipbrokers.com</p>
                    <p class="mb-2"><i class="bi bi-house-door me-3"></i>Headquarters: Rue de Lyon 77, <br> 
                        Geneva, CH-1203, Switzerland</p>
                    <p class="mb-2"><i class="bi bi-house-door me-3"></i>South America Office: Av. Isidora #3000, <br> 
                        Las Condes, Santiago, Chile</p>    
                    <p class="mb-2"><i class="bi bi-house-door me-3"></i>Panama Office: Calle 50 PH, Torre Global,<br> 
                         ciudad de Panamá</p>    
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h4 class="text-light mb-4">Servicios</h4>
                    <a class="btn btn-link" routerLink="shipbroking">Shipbroking</a>
                    <a class="btn btn-link" routerLink="market-intelligence">Market Intelligence</a>
                   
                   
                </div>
                <div class="col-lg-2 col-md-6">
                    <h4 class="text-light mb-4">Menú</h4>
                    <a class="btn btn-link" href="#nosotros">Sobre Nosotros</a>
                    <a class="btn btn-link" href="#contacto">Contacto</a>
                    <a class="btn btn-link" href="#servicio">Servicios</a>
                    
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">Noticias</h4>
                    <p>Si quieres recibir informacion actualizada, dejanos tu correo.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Correo">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Contáctenme</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">PanamericanShipBrokers</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://agenciarevive.cl">Agencia Revive</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

