<div class="card bg-dark text-white">
    <img src="assets/img/noticias02.jpg" class="card-img" alt="...">

    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">Noticias</h1>
      
    </div>
  </div>




<div class="container">

<div class="card mb-3" style="margin-top:20px !important;">
    <img src="assets/img/puerto01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Noticia 1</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore optio veniam error, delectus repellendus aliquid est sed voluptas voluptate dolor illo esse ducimus cumque odit mollitia nam. Delectus, laudantium quas..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img src="assets/img/noticias01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Noticia 2</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quia eveniet maxime perferendis quam maiores laudantium commodi in sit rerum ipsam officia delectus magni, cumque dolorem quidem vero, porro architecto..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img src="assets/img/marine-service01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Noticia 3</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis eius numquam atque, ipsum rem est saepe. Quas sunt deserunt magnam doloribus minima nihil. Minima molestiae enim necessitatibus reprehenderit, commodi repellendus..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


</div>