<div class="card bg-dark text-white">
    <img src="assets/img/noticias02.jpg" class="card-img" alt="...">

    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">Noticias</h1>
      
    </div>
  </div>




<div class="container">

<div class="card mb-3" style="margin-top:20px !important;">
    <img src="assets/img/puerto01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="https://www.mundomaritimo.cl/noticias/engie-y-sigdo-koppers-firman-acuerdo-para-la-operacion-y-comercializacion-de-terminal-portuario-en-mejillones?utm_medium=email&utm_campaign=newsletter#.Yoec4HOkw1w.whatsapp"><h5 class="card-title">ENGIE y Sigdo Koppers firman acuerdo para la operación y comercialización de terminal portuario en Mejillones</h5></a>
      <p class="card-text">Lograr mayor disponibilidad portuaria en la zona de Mejillones, en el norte de Chile, aumentar el uso de Puerto Andino, activar las oportunidades laborales de dicha localidad...</p>
      <p class="card-text"><small class="text-muted">Hace 4 semanas</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img src="assets/img/noticias01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="https://portalportuario.cl/seabourn-pone-en-servicio-a-la-totalidad-de-su-flota-por-primera-vez-desde-el-inicio-de-la-pandemia/"><h5 class="card-title">Seabourn pone en servicio a la totalidad de su flota por primera vez desde el inicio de la pandemia</h5></a>
      <p class="card-text">La compañía de cruceros Seabourn anunció que la totalidad de su flota ha vuelto a las operaciones desde el inicio de la pandemia del Covid-19, en marzo de 2020...</p>
      <p class="card-text"><small class="text-muted">Hace 1 día</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img src="assets/img/marine-service01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="https://portalportuario.cl/puerto-sustentable-3/"><h5 class="card-title">Puerto de Quebec proyecta pequeño balneario en sus muelles</h5></a>
      <p class="card-text">El Puerto de Quebec, en asociación con Société des Gens de Baignade y Village Nordik du Port de Québec, anunció la próxima apertura del nuevo Puerto de Québec Oasis, el primer baño de puerto en América del Norte...</p>
      <p class="card-text"><small class="text-muted">Hace 1 día</small></p>
    </div>
  </div>


</div>