<div class="card bg-dark text-white">
    <img src="assets/img/lngportada.jpg" class="card-img" alt="...">
  
    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">LNG</h1>
      
    </div>
  </div>
  
  
  <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
          <div class="col-md-3">
              <img src="assets/img/lnglateral.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        
        <div class="col-md-9">
          <div class="card-body">
            <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">
                Una de las consultoras de GNL más respetadas y buscadas de la industria
             </h4> <br> 
            <p class="card-text" style="padding-left:12px; padding-right:12px;">El departamento de GNL incorpora una de las consultorías de GNL más respetadas y buscadas de la industria. 
                <br> <br>
                El departamento asesora a los clientes en proyectos de nueva construcción, fletamento, compra y venta, gestión de buques y todos los aspectos comerciales del comercio de GNL. Además, ofrece servicios de gestión de proyectos y análisis sectoriales. 
                <br> <br>
                El departamento atiende a cualquier empresa, institución financiera o intermediario que busque información actualizada sobre la dinámica del sector del GNL. <br> <br>
          </div>
        </div>
       
      </div>
    </div>  


