<div class="card bg-dark text-white">
  <img src="assets/img/buildshipportada.jpg" class="card-img" alt="...">

  <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
    <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">Nuevas Construcciones</h1>
    
  </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="assets/img/marine-service04.jpg" class="img-fluid rounded-start" alt="...">
          </div>
      
      <div class="col-md-9">
        <div class="card-body">
          <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">
            Con corredores marítimos en Asia, Europa y las Americas, PanamericanShipBrokers tiene una larga historia en los mercados de construcción naval.</h4> <br> 
          <p class="card-text" style="padding-left:12px; padding-right:12px;">Nuestros clientes se benefician de la experiencia del Equipo que se gana a través de la presencia continua en los mercados de Nueva Construcción y Venta & Compra. Esto nos permite estar a la vanguardia del conocimiento y la experiencia en innovación legal, financiera, técnica y comercial, así como conocer íntimamente la capacidad, capacidad y precios de los astilleros en todo el mundo. Nuestra estrecha relación y contacto constante con los Armadores en todo el mundo nos brinda la información que necesitan los Compradores y Vendedores para ayudarlos en su toma de decisiones y transacciones eventuales.

            <br> <br>
            Nos enorgullecemos de acompañar a nuestros clientes durante todo el proceso de Newbuilding, desde el análisis inicial del mercado hasta la identificación del astillero, la elección del diseño, la eventual negociación y la firma del contrato hasta el momento de la entrega. Nuestro servicio oportuno, discreto y confidencial está garantizado y nuestro objetivo final es la satisfacción total de nuestros clientes. "¡No rendirse nunca!" es nuestro lema que tratamos de seguir al máximo de nuestra capacidad. <br> <br>
        </div>
      </div>
     
    </div>
  </div>  
