
    <!-- Navbar Start          RECORDAR COLOCAR (click)="playSound()" -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0"  (click)="playSound()" >
        <a routerLink="header" class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5" style="background-color:white !important">
            <img src="assets/img/logoAzul1.png" alt="">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" >
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
              <a routerLink="header" class="nav-item nav-link">Inicio</a>

                <!-- <a href="/careers" class="nav-item nav-link">Careers</a> -->
                <div class="nav-item dropdown sidenav">
                  
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Servicios</a>
                    <div class="dropdown-menu fade-up m-0">
                      <!-- <a routerLink="/marine-service" class="dropdown-item">MARINE SERVICE</a> -->
                      <a routerLink="/market-intelligence" class="dropdown-item">MARKET INTELLIGENCE</a>

                      <a routerLink="/shipbroking" class="dropdown-item">SHIPBROKING</a>
                      <a data-toggle="dropdown" data-target=".dropdown-1" class="dropdown-toggle col-xs-2 visible-xs visible-sm"><span class="glyphicon glyphicon-plus"></span></a>
                      <ul role="menu" class="dropdown-menu mega-dropdown-menu row">
                        <li class="dropdown col-sm-3 clearfix">
                          <div class="sub-menu-toggle">
                            <a class="col-xs-10 col-md-12 dropdown-header" style="text-decoration:none !important;" routerLink="bulk">BULK</a>
                          </div>
                        </li>
                        <li class="dropdown col-sm-3 clearfix">
                          <div class="sub-menu-toggle">
                            <a class="col-xs-10 col-md-12 dropdown-header" style="text-decoration:none !important;"  routerLink="tanqueros">TANQUEROS</a>
                          </div>
                        </li>
                        <li class="dropdown col-sm-3 clearfix">
                          <div class="sub-menu-toggle">
                            <a class="col-xs-10 col-md-12 dropdown-header" style="text-decoration:none !important;"  routerLink="/liner">LINER</a>
                          </div>
                        </li>
                        <li class="dropdown col-sm-3 clearfix">
                          <div class="sub-menu-toggle">
                            <a class="col-xs-10 col-md-12 dropdown-header" style="text-decoration:none !important;" routerLink="/quimicos-tanqueros-pequenos">QUIMICOS/TANQUEROS PEQUEÑOS</a>
                          </div>
                        </li>
                        <li class="dropdown col-sm-3 clearfix">
                          <div class="sub-menu-toggle">
                            <a class="col-xs-10 col-md-12 dropdown-header" style="text-decoration:none !important;"  routerLink="/lpg">LPG</a>
                          </div>
                        </li>
                        <li class="dropdown col-sm-3 clearfix">
                          <div class="sub-menu-toggle">
                            <a class="col-xs-10 col-md-12 dropdown-header" style="text-decoration:none !important;"  routerLink="/lng">LNG</a>
                          </div>
                        </li>
                        <li class="dropdown col-sm-3 clearfix">
                          <div class="sub-menu-toggle">
                            <a class="col-xs-10 col-md-12 dropdown-header" style="text-decoration:none !important;"  routerLink="/offshore">OFFSHORE</a>
                          </div>
                        </li>
                        <li class="dropdown col-sm-3 clearfix">
                          <div class="sub-menu-toggle">
                            <a class="col-xs-10 col-md-12 dropdown-header" style="text-decoration:none !important;"  routerLink="nuevas-construcciones">NUEVAS CONSTRUCCIONES</a>
                          </div>
                        </li>
                      </ul>
        
                </div>


                </div>
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Compañia</a>
                  <div class="dropdown-menu fade-up m-0">
                      <a routerLink="/que-hacemos" class="dropdown-item">¿Qué hacemos?</a>
                      <a routerLink="/noticias" class="dropdown-item">Noticias</a></div></div>



                <!-- <a href="service.html" class="nav-item nav-link">People-Network</a> -->
                


                <a href="#contacto" class="nav-item nav-link">Contacto</a>
            </div>
            
        </div>
    </nav>
