<div class="card bg-dark text-white">
    <img src="assets/img/puerto01.jpg" class="card-img" alt="...">

    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">ShipBroking</h1>
      
    </div>
  </div>


  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      
      <div class="col-md-6">
        <div class="card-body">
          <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">Una Marca de prestigio y experiencia </h4> <br> 
          <p class="card-text" style="padding-left:12px; padding-right:12px;">Con más del 90 % del comercio mundial realizado por mar, el transporte marítimo y el comercio marítimo se encuentran en el centro de la economía actual. Panamericashipbrokers es una de las firmas de corretaje de yates y barcos de servicio completo más grandes del mundo, con muchos años de experiencia marítima.
            <br>
            <br>
            Nuestra cobertura del mercado marítimo es una de las más completas del mercado e incluye actividades de Nueva Construcción, Compra y Venta y Fletamento en todos los principales segmentos navieros: Buques Cisterna, Graneles Secos, Químicos, GNL, GLP, Offshore, Linear y Yachting .
            
            
            <br>
            <br>
         
            La relación entrelazada entre el corretaje marítimo y la tecnología de la información nos ha llevado a ser una parte integral de los equipos de envío de muchos clientes industriales. Tomar decisiones estratégicas sobre las cláusulas del contrato, los mecanismos y la duración les ha demostrado a muchos clientes que tener asesores en su equipo desde el principio puede prepararse para lo imprevisto.
            
         <br><br>
            Nuestros equipos de activos están monitoreando de cerca cada segmento del mercado para garantizar que las tendencias y operaciones específicas estén a la vista de los clientes al tomar decisiones de inversión.</p> <br>
        
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/img/shipbroking.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>  


<!-- slider -->

  <!-- <div class="container1">
    <div class="slider">
      <div class="slide">
        <h1>Slider 1</h1>
      </div>
      <div class="slide">
        <h1>Slider 2</h1>
      </div>
      <div class="slide">
        <h1>Slider 3</h1>
      </div>
      <div class="slide">
        <h1>Slider 4</h1>
      </div>
      <div class="slide">
        <h1>Slider 5</h1>
      </div>
    </div>
  </div> -->

  <!-- aqui termina slider 1 -->

  