
    <!-- Service Start -->
    <div class="container-xxl py-5" id="servicio">
        <div class="container py-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <!-- <h6 class="text-secondary text-uppercase">Our Services</h6> -->
                <h1 class="mb-5" style="font-weight: 700; color:#646464">Nuestros Servicios</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
                        </div>
                        <h4 class="mb-3" style="font-weight: 700; color:#646464">SHIPBROKING</h4>
                        <p>Nuevas construcciones, compra y venta y charteo en el principal sector marino.
                        </p>
                        <a class="btn-slide mt-2" href="/#departamento" style="text-decoration: none !important;"><i class="fa fa-arrow-right"></i><span style="text-decoration: none !important;">Leer más</span></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item p-4">
                        <div class="overflow-hidden mb-4" style="font-weight: 700; color:#646464">
                            <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
                        </div>
                        <h4 class="mb-3" style="font-weight: 700; color:#646464">MARKET INTELLIGENCE</h4>
                        <p>Incisivo, informado con data actualizada, reportes y análisis en todos los sectores de shipping.</p>
                        <a class="btn-slide mt-2" href="/market-intelligence" style="text-decoration: none !important;"><i class="fa fa-arrow-right"></i><span style="text-decoration: none !important;">Leer más</span></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                        </div>
                        <h4 class="mb-3" style="font-weight: 700; color:#646464">MARINE SERVICES</h4>
                        <p>Una gama de servicios marítimos especializados en el ámbito marítimo más amplio.</p>
                        <a class="btn-slide mt-2" href="/marine-service" style="text-decoration: none !important;"><i class="fa fa-arrow-right"></i><span style="text-decoration: none !important;">Leer más</span></a>
                    </div>
                </div>
     
            </div>
        </div>
    </div>
    <!-- Service End -->
