<div class="card bg-dark text-white">
    <img src="assets/img/tanquerosportada.jpg" class="card-img" alt="...">
  
    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">Tanqueros</h1>
      
    </div>
  </div>
  
  
  <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
          <div class="col-md-3">
              <img src="assets/img/tanklateral.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        
        <div class="col-md-9">
          <div class="card-body">
            <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">
                Los servicios de alta calidad proporcionados por el departamento de Tanqueros ahora tienen más demanda que nunca
             </h4> <br> 
            <p class="card-text" style="padding-left:12px; padding-right:12px;">El equipo participa activamente en el fletamento al contado de cargamentos de petróleo crudo, productos de petróleo refinado y aceites vegetales, y también brinda servicios de consultoría en proyectos a largo plazo. 
                <br> <br>
                Anualmente, este gran equipo maneja cientos de partidos puntuales, así como contratos a largo plazo. Las actividades diarias incluyen fletamentos por tiempo, reparto de utilidades, esquemas de futuros de fletes y, cuando sea necesario, mecanismos innovadores para cumplir con los requisitos de operaciones únicas y oportunidades especiales. 
                <br> <br>
                Este servicio integral es proporcionado por una red de oficinas en los principales centros de actividad de petroleros (París/Ginebra/Dubai/Beijing), lo que permite una cobertura ininterrumpida del mercado mundial de petroleros. La estrecha cooperación entre todas las oficinas y los corredores del equipo garantiza un alto volumen de intercambio de información y un servicio altamente receptivo en todo el mundo. <br> <br>
          </div>
        </div>
       
      </div>
    </div>  