<div class="card bg-dark text-white">
    <img src="assets/img/network.jpg" class="card-img" alt="...">

    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">Market Intelligence</h1>
      
    </div>
  </div>


  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      
      <div class="col-md-6">
        <div class="card-body">
          <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">
            ANÁLISIS DETALLADO DE LOS ÚLTIMOS DATOS DEL MERCADO </h4> <br> 
          <p class="card-text" style="padding-left:12px; padding-right:12px;">Panamericashipbrokers sitúa la inteligencia de mercado en el centro de sus actividades. El análisis detallado de los últimos datos, tendencias y desarrollos del mercado permite a los corredores y clientes tomar las mejores decisiones informadas. Nos esforzamos por ofrecer los datos más relevantes, precisos y pertinentes sobre las condiciones actuales y futuras del mercado. <br><br>

            Dentro del grupo, la inteligencia de mercado se utiliza internamente para respaldar nuestras actividades de corretaje, así como también se proporciona externamente a clientes y no clientes. Nuestros servicios de inteligencia de mercado externos incluyen al especialista en contenedores Alphaliner, al especialista en carga seca a granel Alphabulk y al especialista en camiones cisterna Alphatanker, líderes en información reconocidos en su campo. <br> <br>
            
            Nuestra estrategia incluye la subcontratación de ciertas tareas de inteligencia marina a proveedores externos para garantizar la recopilación de datos objetivos, independientemente de la influencia de la industria de corretaje marítimo. <br> <br>
            
            Los datos confiables de suministro marítimo siempre han sido nuestra concentración, pero con los avances en los datos de demanda en tiempo real, nuestros clientes esperan análisis y proyecciones relevantes basado en estadísticas de oferta y demanda actualizadas al minuto.</p> <br>
        
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/img/shipbroking.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>  
