
    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <!-- <h6 class="text-secondary text-uppercase">Our Services</h6> -->
                <h1 class="mb-5">Nuestros Servicios</h1>
            </div>

<div class="grid-container">
  
    
    <figure class="grid_item grid_item-1 ">
      <div class="text" style="text-align:center;">
        Bulk
        <!-- <button class="online_view">Ver más</button> -->
      </div>
      <img class="grid_image" src="assets/img/galeria/bulk-300x300.jpg" alt="">
    </figure>
    
    
    <figure class="grid_item grid_item-2">
      <div class="text" style="text-align:center;">
        Tanqueros
        <!-- <button class="online_view">Ver más</button> -->
      </div>
      <img class="grid_image"  src="assets/img/galeria/tanker-300x300.jpg" alt="">
    </figure>
    
    
  <figure class="grid_item grid_item-3">
    <div class="text" style="text-align:center;">
        Liner
        <!-- <button class="online_view">Ver más</button> -->
      </div>
      <img class="grid_image"  src="assets/img/galeria/liner-300x300.jpg" alt="">
    </figure>
    
    
  <figure class="grid_item grid_item-4">
    <div class="text" style="text-align:center;">
        Químicos y tanqueros pequeños
        <!-- <button class="online_view">Ver más</button> -->
      </div>
      <img class="grid_image"  src="assets/img/galeria/chemical-small-tanker-300x300.jpg" alt="">
    </figure>
    
    
  <figure class="grid_item grid_item-5">
    <div class="text" style="text-align:center;">
        LPG
        <!-- <button class="online_view">Ver más</button> -->
      </div>
      <img class="grid_image" src="assets/img/galeria/lpg-300x300.jpg" alt="">
    </figure>
    
    
  <figure class="grid_item grid_item-6">
    <div class="text" style="text-align:center;">
        <span>LNG</span> 
        <!-- <button class="online_view">Ver más</button> -->
      </div>
      <img class="grid_image"  src="assets/img/galeria/lng-300x300.jpg" alt="">
      <p>LNG</p>
    </figure>
    
  <figure class="grid_item grid_item-7">
        <div class="text" style="text-align:center;">
            <span>Off Shore</span> 
            <!-- <button class="online_view">Ver más</button> -->
          </div>
          <img class="grid_image"  src="assets/img/galeria/offshore-300x300.jpg" alt="">
          <p>Off Shore</p>
  </figure>
  
  <figure class="grid_item grid_item-8">
            <div class="text" style="text-align:center;">
                <span>Nuevas Construcciones</span> 
                <!-- <button class="online_view">Ver más</button> -->
              </div>
              <img class="grid_image"  src="assets/img/galeria/ship-newbuilding-300x300.jpg" alt="">
              <p>Off Shore</p>
  </figure> 
  
  </div>
        </div></div>