<div class="card bg-dark text-white">
    <img src="assets/img/offshoreportada.jpg" class="card-img" alt="...">
  
    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">Offshore</h1>
      
    </div>
  </div>
  
  
  <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
          <div class="col-md-3">
              <img src="assets/img/marine-service04.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        
        <div class="col-md-9">
          <div class="card-body">
            <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">
                Un socio estratégico para servicios de corretaje y consultoría en proyectos de naves offshore y unidades especializadas
             </h4> <br> 
            <p class="card-text" style="padding-left:12px; padding-right:12px;">
                El equipo de Offshore es un socio estratégico para los servicios de corretaje y consultoría (incluyendo valoraciones y estudios de mercado) en proyectos de buques y unidades especializadas en alta mar. 
                <br> <br>
                La participación con empresas de petróleo y gas, contratistas, armadores, empresas de ingeniería y constructores navales de todo el mundo ha permitido al equipo de Offshore desarrollar habilidades dedicadas para servir a los mercados de nueva construcción y de segunda mano. 
                <br> <br>
                La cobertura incluye requisitos de fletamento a corto y largo plazo en segmentos diversificados, como remolque portuario y en aguas profundas, tendidos de cables, dragado y recuperación de tierras, embarcaciones de apoyo en alta mar, construcción e instalación submarina, perforación y producción.   
                
                <br> <br>
          </div>
        </div>
       
      </div>
    </div>  
