<div class="card bg-dark text-white">
    <img src="assets/img/lpgportada.jpg" class="card-img" alt="...">
  
    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">LPG</h1>
      
    </div>
  </div>
  
  
  <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
          <div class="col-md-3">
              <img src="assets/img/lpglateral.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        
        <div class="col-md-9">
          <div class="card-body">
            <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">
                Un centro de excelencia bien establecido en el transporte de gases licuados
             </h4> <br> 
            <p class="card-text" style="padding-left:12px; padding-right:12px;">El departamento de Gas es un centro de excelencia bien establecido en el transporte de gases licuados como GLP, productos petroquímicos y amoníaco anhidro. 
                <br> <br>
                Con más de 30 años de experiencia y una base de clientes bien establecida que se extiende a todas las áreas de envío y comercialización de GLP, PanamericanShipBrokers mantiene la más alta calidad de información y relaciones con los clientes. 
                <br> <br>
                El departamento de Gas sigue todos los segmentos de este mercado cada vez más diverso y cambiante; los corredores se dedican a brindar un servicio preciso y oportuno a sus clientes. <br> <br>
          </div>
        </div>
       
      </div>
    </div>  

