
    <div class="container-xxl py-5" id="departamento" >
        <div class="container py-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
   
                <h1 class="mb-5" style="font-weight: 700; color:#646464">Departamentos</h1>
            </div>


<div class="container">
    <div class="img-grid">
      
    <figure href="/bulk" class="grid_item grid_item-1 "> 
        <div class="text" style="text-align:center;" >
   
          </div> <a href="/bulk"> <img src="assets/img/galeria/bulk.jpg" alt=""></a>
         <a style="text-decoration:none;" href="/bulk"> <p style="text-align:center; margin-top: 0; margin-bottom: 0.5rem; font-weight:700; color:#154b7a">BULK</p></a>
        </figure>

    <figure class="grid_item grid_item-1 "> 
        <div class="text" style="text-align:center;">
             
         </div> <a href="/tanqueros"><img src="assets/img/galeria/tanker.jpg" alt=""> </a>
         <a style="text-decoration:none;" href="/tanqueros"><p style="text-align:center; margin-top: 0; margin-bottom: 0.5rem; font-weight: 700; color:#154b7a">TANQUEROS</p></a>
        </figure>


    <figure class="grid_item grid_item-1 "> 
        <div class="text" style="text-align:center;">
   
         </div> <a href="/liner"> <img src="assets/img/galeria/liner.jpg" alt=""> </a>
         <a style="text-decoration:none;" href="/liner"><p style="text-align:center; margin-top: 0; margin-bottom: 0.5rem; font-weight:700; color:#154b7a">LINER</p> </a>
        </figure>

    <figure class="grid_item grid_item-1 "> 
        <div class="text" style="text-align:center;">
      
          </div> <a href="/quimicos-tanqueros-pequenos"> <img src="assets/img/galeria/chemicalandsmalltanker.jpg" alt=""></a>
          <a style="text-decoration:none;" href="/quimicos-tanqueros-pequenos"><p style="text-align:center; margin-top: 0; margin-bottom: 0.5rem; font-weight: 700; color:#154b7a">QUIMICOS/TANQUEROS PEQUEÑOS</p></a> 
        </figure>
          
    <figure class="grid_item grid_item-1 "> 
        <div class="text" style="text-align:center;">
             
          </div> <a href="/lpg"> <img src="assets/img/galeria/LPG.jpg" alt=""> </a>
          <a style="text-decoration:none;" href="/lpg"><p style="text-align:center; margin-top: 0; margin-bottom: 0.5rem; font-weight:700; color:#154b7a">LPG</p></a>
        </figure>
          
    <figure class="grid_item grid_item-1 "> 
        <div class="text" style="text-align:center;">
             
          </div> <a href="/lng">  <img src="assets/img/galeria/LNG.jpg" alt=""></a>
          <a style="text-decoration:none;" href="/lng"><p style="text-align:center; margin-top: 0; margin-bottom: 0.5rem; font-weight: 700; color:#154b7a">LNG</p></a>
        </figure>

    <figure class="grid_item grid_item-1 "> 
        <div class="text" style="text-align:center;">
                  
           </div> <a href="/offshore">  <img src="assets/img/galeria/offshore.jpg" alt=""> </a>
           <a style="text-decoration:none;" href="/offshore"><p style="text-align:center; margin-top: 0; margin-bottom: 0.5rem; font-weight: 700; color:#154b7a">OFFSHORE</p></a>
        </figure>

    <figure class="grid_item grid_item-1 "> 
        <div class="text" style="text-align:center;">
           
                            <!-- <button class="online_view">Ver más</button> -->
            </div>  <a  href="/nuevas-construcciones"> <img src="assets/img/galeria/newbuilding.jpg" alt=""> </a>
            <a style="text-decoration:none;" href="/nuevas-construcciones"><p style="text-align:center; margin-top: 0; margin-bottom: 0.5rem; font-weight: 700; color:#154b7a">NUEVAS CONSTRUCCIONES</p></a>
        </figure>
            

    </div>
  </div>

    