<div class="card bg-dark text-white">
    <img src="assets/img/quimicosportada.jpg" class="card-img" alt="...">
  
    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">Químicos y tanqueros pequeños</h1>
      
    </div>
  </div>
  
  
  <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
          <div class="col-md-3">
              <img src="assets/img/quimicoslateral.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        
        <div class="col-md-9">
          <div class="card-body">
            <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">
               
            Un equipo bien calificado dedicado a las cargas líquidas
             </h4> <br> 
            <p class="card-text" style="padding-left:12px; padding-right:12px;">
              El tráfico de los distintos mercados conecta las refinerías con innumerables zonas de consumo de combustible y con la industria petroquímica del planeta. La naturaleza de los distintos productos provoca un mercado de distribución atomizada que exige tener en cuenta, computar y decidir adecuadamente entre multitud de factores particulares para el eficaz cumplimiento de cada viaje. De nuevo, nuestra experiencia junto con una metodología propia de rápida respuesta ante contingencias es el valor añadido en el que se apoyan nuestros clientes, ya sea en los tráficos de Small Tankers, Flexies, Handymax, MR o LR.
                <br> <br>
                Este equipo bien calificado ofrece servicios de intermediación marítima para las necesidades únicas de fletamento de cargas líquidas especiales en paquetes de 300 toneladas a 30.000 toneladas. El equipo químico se dedica a los nichos de mercado de valor agregado, como los camiones cisterna de abastecimiento de combustible y los intercambios que involucran restricciones de puertos y atracaderos donde los camiones cisterna pequeños son útiles. El equipo maneja todo tipo de fletamentos de embarcaciones, desde contratos de viaje hasta contratos de fletamento (COA) y fletamentos por tiempo. (TC).
                <br> <br>
          </div>
        </div>
       
      </div>
    </div>  
