<div class="card bg-dark text-white">
  <img src="assets/img/bulkportada.jpg" class="card-img" alt="...">

  <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
    <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">Bulk</h1>
    
  </div>
</div>


<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="assets/img/bulklateral.jpg" class="img-fluid rounded-start" alt="...">
          </div>
      
      <div class="col-md-9">
        <div class="card-body">
          <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">
            Una cobertura global las 24 horas
           </h4> <br> 
          <p class="card-text" style="padding-left:12px; padding-right:12px;">Sirviendo a una sólida base industrial, utilizando herramientas de comunicación sofisticadas, el departamento de fletamento de carga seca cubre todos los tamaños de carga desde sus seis bases, en París, Londres, Shanghái, Dubái, Bombay y Singapur, todas totalmente integradas, lo que permite una cobertura global las 24 horas. <br> <br>
         Al trabajar con todas las cargas secas a granel, incluidas carteras extensas de mineral de hierro y carbón, el equipo tiene una larga experiencia en la estructuración de acuerdos a largo plazo, construidos con una sólida cartera de contratos.
         <br> <br>
         Al combinar el conocimiento y agregar la participación en el proceso de toma de decisiones y un paquete completo de servicio posterior al arreglo, los clientes de PanamericanShipBrokers apreciamos y continuamos buscando este experimentado equipo interno de expertos comprometidos con la excelencia y el pensamiento innovador.
        </div>
      </div>
     
    </div>
  </div>  
