
    <!-- About Start -->
    <div class="container-fluid overflow-hidden py-5 px-lg-0" id="nosotros">
        <div class="container about py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="assets/img/about.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="text-secondary text-uppercase mb-3">Sobre Nosotros</h6>
                    <h1 class="mb-5" style="font-weight: 700; color:#646464">Panamericanshipbrokers</h1>
                    <p class="mb-5">En Panamericanshipbrokers nos mueve un factor común “preocuparnos sobre su negocio”, queremos entregar un sello de calidad basado en servicio de excelencia a nuestros clientes. <br>
                        Nuestra actividad principal es el servicio de intermediación entre las distintas partes de la industria involucradas en el transporte de cargamentos . Servimos así de enlace entre traders y armadores de cualquier lugar del mundo, facilitando la labor comercial del shipping y su operativa. <br>
                        Ofrecemos un servicio personal y de garantía gracias a la amplia experiencia acumulada a lo largo de estos años.
                    </p>
                    <div class="row g-4 mb-5">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-globe fa-3x mb-3" style="color:#154b7a;"></i>
                            <h5>Cobertura global</h5>
                            <p class="m-0">Contamos con una red de apoyo internacional</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <i class="fa fa-ship fa-2x  mb-3" style="color:#154b7a;"></i>
                            <h5>Envíos Confiables</h5>
                            <p class="m-0">Entregamos nuestros servicios de manera confiable directa, eficaz y eficiente.</p>
                        </div>
                    </div>
                    <a href="" class="btn py-3 px-5" style="background-color: #154b7a; color:white;">Leer Más</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

