

    <!-- Quote Start -->
    <!-- <div class="container-xxl" id="contacto" style="background-color: #154b7a; margin:0; padding-bottom: 40px;"> -->
        <div class="container" id="contacto" style="background-color: #154b7a; margin:0; padding-bottom: 40px;max-width: 100% !important;">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    
                    <div class="d-flex align-items-center">
                        <i class="fa fa-headphones fa-2x flex-shrink-0 p-3 text-white"></i>
                        <div class="ps-4">
                            
                            <h3 class=" m-0" style="color: white;">Contacto</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="bg-light text-center p-5 wow fadeIn" data-wow-delay="0.5s">
                        <form class="contact-form">
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="name form-control border-0" placeholder="Nombre" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="email form-control border-0" placeholder="Correo" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="phone form-control border-0" placeholder="Telefono" style="height: 55px;">
                                </div>
                                
                                <div class="col-12">
                                    <textarea class="message form-control border-0" placeholder="Mensaje"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn w-100 py-3" 
                                    style="background-color:#154b7a; color:white;" type="submit">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <!-- Quote End -->