<div class="card bg-dark text-white">
    <img src="assets/img/linerportada.jpg" class="card-img" alt="...">
  
    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">Liner</h1>
      
    </div>
  </div>
  
  
  <div class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
          <div class="col-md-3">
              <img src="assets/img/linerlateral.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        
        <div class="col-md-9">
          <div class="card-body">
            <br><h4 class="card-title" style="padding-left:12px; padding-right:12px;">
                
             </h4> <br> 
            <p class="card-text" style="padding-left:12px; padding-right:12px;">El departamento Liner brinda una cobertura global integral de los sectores Car Carrier (PCTC), Container, Multipropósito / Heavy Lift, RoPax / Ferry y RoRo. 
                <br> <br>
                Desde sus oficinas en París, Shanghái, Ginebra y Hamburgo, el equipo ofrece su experiencia técnica y comercial y su dilatada experiencia en todo el espectro de actividades de fletamento, desde el lugar hasta el proyecto, pasando por acuerdos a largo plazo y desde operaciones de corta distancia a alta mar. 
                <br> <br>
                A través de sinergias con el equipo de Activos del Grupo, también atendemos las demandas de nuestros clientes en términos de operaciones de compraventa y obra nueva, así como valoraciones. Armados con una inteligencia de mercado insuperable, nos enorgullecemos de brindar la más alta calidad de servicio e información. <br> <br>
          </div>
        </div>
       
      </div>
    </div>  
