<div class="card bg-dark text-white">
    <img src="assets/img/carousel-5.jpg" class="card-img" alt="...">

    <div class="card-img-overlay" style="display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(6, 3, 21, 0.591);">
      <h1 class="card-title" style="display: flex; justify-content: center; align-items: center; text-align: center; color:white">¿Qué hacemos?</h1>
      
    </div>
</div>
<div class="container" style="display:flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column;">
<div class="card text-center" style="max-width: 95%;">
        <div class="card-body"> <br>
      <h4 class="card-title">PanamericanShipbrokers</h4> <br>
      <p class="card-text">Somos un grupo global de servicios de envío diversificado y dinámico que ofrece una variedad de actividades marítimas para complementar su negocio principal de corretaje. Además de Shipbroking, las actividades del Grupo incluyen Derivados de Carga, Tecnología de Software, Inteligencia de Mercado y Consultoría Marítima.</p><br>
    </div>
</div>


    <div class="card mb-3" style="max-width: 95%; margin-bottom: 0 !important;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/quehacemos01.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8" style="display:flex; justify-content: center; align-items: center; flex-wrap: wrap;">
            <div class="card-body">
              <h4 class="card-title">Nuestro Negocio Principal - SHIPBROKING</h4> <br>
              <p class="card-text">Con más del 90 % del comercio mundial realizado por mar, el transporte marítimo y el comercio marítimo se encuentran en el centro de la economía actual. Somos una de las firmas de corretaje de barcos de servicio completo más grandes del mundo, con más de 150 años de experiencia marítima. 
              <br><br>  
              Nuestra cobertura del mercado marítimo es una de las más completas del mercado e incluye actividades de Nueva Construcción, Compra y Venta y Fletamento en todos los principales segmentos de transporte marítimo: Buque cisterna, Granel seco, Químico, GNL, GLP, Offshore, Liner. El servicio se brinda a los clientes a través de 18 oficinas de corretaje en París, Ginebra, Shanghai, Beijing, Londres, Atenas, Hamburgo, Dubai, Singapur, Yakarta, Madrid, Mumbai, Río de Janeiro, Stamford, Houston, Ho Chi Minh, Luxemburgo, Bogotá. 
              <br> <br>  
              Nos enorgullece ofrecer altos niveles de servicio, adoptando un enfoque innovador y proactivo para la planificación estratégica a largo plazo requerida por nuestros clientes. Durante muchos años, la empresa ha desarrollado una excelente reputación por sus fuertes vínculos con el transporte marítimo industrial y mantiene estrechas relaciones con muchos de los principales productores industriales, comerciantes y transportistas de todo el mundo.</p> 
            
            </div>
          </div>
        </div>
      </div>


</div>